@{
    ViewBag.Title = "About Us";
}

<div class="page-header">
    <h1>About</h1>
</div>
<p>
     Use cyclecyclecycle to upload and download files for your bikes GPS computer. The site is free to use for the time being as it
     is primarily a demonstration of MVC3 and Windows Azure for teaching and learning purposes.
</p>
<p>
    The site was designed and built by James Randall of <a href="http://www.accidentalfish.com">Accidental Fish</a> and the hosting on Azure
    is paid for by Accidental Fish.
</p>
