@model CycleCycleCycle.ViewModels.RouteSearch

@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("_FindRoutePartial")
<h3>Latest News</h3>
<div class="row">
    <div class="span2"><strong>2011-27-08</strong></div>
    <div class="span14">
        <p>Today the site was launched!</p>
        <p>For now its just been written to scratch an itch: I wanted height map profile images to post on my <a href="http://accidentalfish.wordpress.com">blog</a>.</p>
        <p>Going forwards: who knows!</p>
    </div>
</div>